@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,500|Alegreya');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link {
  color: #00AAFF;
}
a:visited {
  color: #AA00FF;
}

.App {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 300;
  width: 80%;
  margin-left: 10%;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
}

.App-header img {
  margin-top: 15px;
}

h2 {
  font-size: 3em;
  padding: 20px 0 15px 0;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: 400;
}

.button {
  border: 1px solid #00AAFF;
  display: inline-block;
  padding: 7px 8px 5px 8px;
  border-radius: 3px;
  margin-bottom: 15px;
  color: #00AAFF;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.intro-text {
  line-height: 1.4em;
}

select {
  margin-top: 20px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 text-align: left;
}

.text-viz {
  margin-top: 15px;
  margin-bottom: 15px;
}

.poem-text {
  font-family: "Alegreya", serif;
  line-height: 1.3em;
  padding: 0 15px;
  display: inline-block;
  font-size: 16px;
}

.visualization {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px;
}

.viz-1,
.viz-2 {
  width: 300px;
  flex-grow: 2;
  min-width: 300px;
  margin: 15px;
  border: 1px solid black;
  padding-top: 15px;
}

.emotion-sliders {
  margin: 0 auto;
  padding-top: 10px;
}

.emotion-slider {
  margin: 0 auto;
  width: 270px;
  clear: both;
  padding-bottom: 4px;
  min-height: 18px;
}

.emotion-slider span {
  text-align: right;
  padding-right: 10px;
  float: left;
}

.emotion-slider .emotion-question,
.emotion-slider input {
  width: 150px;
  float: right;
}

.emotion-graph g {
  mix-blend-mode: multiply;
}

.reveal-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
  font-size: 1.3em;
}

.results .header {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 16px;
}

.result {
  padding-bottom: 20px;
  text-align: center;
}

.result svg {
  border: 1px solid black;
  margin-bottom: 10px;
}

.result-graph {
  display: flex;
  justify-content: center;
}

.result-comparison {
  padding: 15px 10px 10px 10px;
}

.about {
  text-align: left;
  margin-bottom: 30px;
}
.about p {
  margin-bottom: 15px;
  line-height: 1.4em;
}

@media (max-width: 560px) {
  .App {
    width: 90%;
    margin-left: 5%;
  }
}
